:root {
  --pink: #D5008F;
  --light-pink:#FFDFDF;
  --yellow: #FFD700;
  --mint: #9EEBCF;
  --navy:  #001B44;
  --grey-1: #F4F4F4;
  --baby-blue: #CDECFF;
  --grey-2: #fff;
}

/* General */
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html{
  width:100%;
  height:100%;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  width:100%;
  height:100%;
  font-size: 16px;
  background-color:var(--yellow);
}

hr{
  margin: 0.5rem 1rem;
  border:0.05rem solid var(--grey-2);
}


/* Layout */
#app{
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-row-gap: 0.25rem;
  height:100%;
  
}

/* header */
.header{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.header__title{
  text-align: center;
  font-size:1.4rem;
}
.header__title-link, .header__title-link:visited, .header__title-link:link{
  color:var(--navy);
  text-decoration: none;
}

/* main */
.main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap:0.25rem;
}

/* posts */
.posts{
  display:grid;
  grid-template-rows: auto 2fr;
  grid-row-gap:0.5rem;
  padding:0.5rem;
  background-color:var(--baby-blue);
  border-radius:4px;
  margin-bottom:2rem;
}

/* posts__submit */

.posts__submit{
  background-color: var(--grey-1); 
  display:grid;
  grid-template-columns: 3rem 1fr;
  grid-column-gap: 0.5rem;
  padding:0.5rem;
  border-radius: 4px;
}

.posts__submit__avatar{
  width:100%;
  height:3rem;
  border-radius:100%;
  border:1px solid black;
}
.posts__submit__avatar__img{
  width:100%;
}

/* posts__view */
.posts__view__title{
  text-align: center;
  padding: 0.5rem;
}


/* generic form styles */
.form{
  display:flex;
  flex-direction:column;
}

.form__section{
  width:100%;
  padding:0.4rem;
  border:1px solid var(--baby-blue);
  border-radius:4px;
}

.form__section--mint{
  border:1px solid var(--mint);
}

.form__section:not(:last-child){
  margin-bottom:0.3rem;
}

.form__section__title{
  padding:0rem 0.2rem;
  font-size:0.8rem;
  color:var(--pink);
}
.form__input{
  width:100%;
  padding:0.2rem 0.3rem;
  color:var(--navy);
  outline:none;
  border:none;
  background-color:var(--baby-blue);
  font-family: Arial, Helvetica, sans-serif;
  font-size:0.7rem;
  border-radius:4px;
}

.form__input--grey{
  background-color:var(--grey-2);
  color:var(--pink);
}

.form__input--textarea{
  height:4rem;
  border:none;
}

.form__input--button--edit{
  background-color:var(--mint);
  border-radius: 4px;
}

.form__input--button--pink{
  padding:0.3rem 0.4rem;
  background-color: var(--pink);
  color:var(--yellow);
  outline:none;
  border:none;
  border-radius:4px;
}

.form__input--button--mint{
  padding:0.3rem 0.4rem;
  background-color: var(--mint);
  color:var(--navy);
  outline:none;
  border:none;
  border-radius:4px;
}


.form__input--text--inline{
  background-color:var(--grey-1);
  border-top:none;
  border-right:none;
  border-left:none;
  border-bottom:1px solid var(--navy);
  outline:none;
  color:var(--pink);
  font-size:0.8rem;
}

.form__input--text--inline--long{
  width:80%;
}







/* post__form-new */

.post__form-new{
  display: flex;
  flex-direction:column;
}

.post__form-new__prompt{
  line-height:1.8rem;
  padding:0rem 0.5rem;
  font-size:0.8rem;
}


.form__input--button--right{
  padding:0.5rem;
  background-color:var(--mint);
  color:var(--navy);
  margin:0rem 0.5rem;
  border:1px solid var(--yellow);
  align-self: flex-end;
  width:6rem;
  border-radius:4px;
}


/* editor */

.editor{
  padding:0rem 0.5rem 0.5rem 0rem; 
}
.editor__post-editor{
  border: 2px solid var(--mint);
  border-radius: 4px;
  background-color: var(--grey-1);
  padding:0.5rem;
}
.editor__post-editor__title{
  text-align:left;
  font-size:0.9rem;
  margin-bottom:0.5rem;
  color:var(--pink);
}





/* nav */
.nav{
  padding:0rem 0.5rem;
}
.nav__section{
  padding: 0.5rem;
}

.nav__section:not(:last-child){
  margin-bottom:1rem;
}

.nav__section-description-text{
  font-size:0.8rem;
  line-height:1.2rem;
}
.nav__section-description-text > span{
  font-weight: bold;
}

.nav__section__title{
  font-size:1.2rem;
  color:var(--navy);
  margin-bottom:0.5rem;
}
.nav__section__title--light{
  color:var(--pink);
}

/* nav__section-login */
.nav__section-login{
  border-radius: 4px;
  background-color: var(--grey-1);
}
.nav__section-login__forgot{
  margin-top:0.6rem;
}

.nav__section-signup{
  background-color:var(--navy);
  border-radius: 4px;
}

/* post__view */

.posts__view__list__item{
  list-style: none;
  padding: 0.5rem;
  border:1px solid var(--pink);
  padding: 0.5rem;
  border-radius:4px;
  background-color: var(--light-pink);
}

.posts__view__list__item:not(:last-child){
  margin-bottom: 1rem;
}

.posts__view__list__item__title{
  padding:0rem 0.5rem 0.5rem 0.5rem;
}

.posts__view__list__item__title-link, .posts__view__list__item__title-link:link, .posts__view__list__item__title-link:visited{
  font-size:1rem;
  text-decoration: none;
  color:var(--pink);
}

.posts__view__list__item__functions{
  display: flex;
  justify-content: flex-end;
}

.posts__view__list__item__functions__button{
  outline:none;
  border: none;
  padding:0.25rem 0.5rem;
  color:#001B44;
}

.posts__view__list__item__functions__button:not(:last-child){
  margin-right:0.2rem;
}

.posts__view__list__item__functions__button--edit{
  background-color:#9EEBCF;
  color:#001B44;
}
.posts__view__list__item__functions__button--delete{
  background-color:#FFD700;
  
}

.posts__view__list__item__description{
  padding:0.5rem;
  background-color: #F4f4f4;
  font-size:0.8rem;
  color: var(--pink);
}

.posts__view__list__item__meta-list{
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin-top:0.5rem;
  padding:0 0.5rem;
}

.posts__view__list__item__meta-list__item{
  height:100%;
  font-size:0.6rem;
  color:var(--pink);
}

.posts__view__list__item__meta-list__item-link, .posts__view__list__item__meta-list__item-link:link, .posts__view__list__item__meta-list__item-link:visited{
  text-decoration: underline;
  color:var(--pink);
}

.posts__view__list-item__meta-section:not(:last-child){
  margin-right:0.4rem;
}
